html, body {
    height: 100%;
    margin: 0;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
}

.row {
    flex: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%; /* Full row height */
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
}

.sidebar .offcanvas-body {
    flex-grow: 1;
    overflow-y: auto;
}
